.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: var(--footer-height);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&--social-media {
		min-width: 10rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 2rem;
	}
}
