.navtop {
	display: flex;
	justify-content: center;
	height: 8rem;
	&--container {
		width: var(--project-width);
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&--logo {
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-width: 25rem;
		a {
			color: $primary-color;
			display: flex;
			align-items: center;
			justify-content: space-between;
			min-width: 20rem;
			transition: 0.3s;
			&:hover {
				text-decoration: none !important;
				color: lighten($primary-color, 15%);
			}
		}
		&__title {
			font-size: 2rem;
			// color: inherit;
		}
	}
}
